<%= form_for(@excel) do |f| %>
  <% if @excel.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@excel.errors.count, "error") %> prohibited this excel from being saved:</h2>

      <ul>
      <% @excel.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :url %><br>
    <%= f.file_field :avatar%>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
